:root {
    --white: #ffffff;
    --text-grey: #737c85;
    --dark-grey: #303030;
    --theme-footer: #e87875;
    --sidebar-transparent: #e87975b4;
    --theme-orange: #fe992a;
    --theme-orange-lighter: #ffba6e;
    --link-hover-bg: #ce6460;
}